@import url('https://fonts.googleapis.com/css?family=Lora');
p a{
    color: #6495ED;
}
h1, h2{
	font-family: 'Lora', serif;
    letter-spacing: -.7px;
}
body{
	margin: 0 auto;
	font-family: Helvetica, Arial, sans-serif;
	min-width: 800px;
}
header h1 a{
	color: white;
}
header a{
	color: #FAEBD7;
}
header{
	margin: 0 auto;
	background-color: #6495ED;
	display: block;
	float: left;
	width: 165px;
	padding-top: 30px;
	text-align: right;
	padding-right: 20px;
	font-size: .9em;
	padding-left: 20px;
	padding-bottom: 891px;
}

img{
	display: block;
	margin: 0 auto;
	width: 60%;
	padding-top: 35px;
}

article{
	margin: 0 auto;
	background-color: white;
	width: 400px;
	padding: 20px;
	margin-bottom: 40px;
	margin-top: 40px;
	box-shadow: 3px 3px 3px lightgray;
	letter-spacing: -.7px;
	font-size: .9em;
	padding-top: 40px;
  padding-bottom: 40px;
}
main{
	margin: 0 auto;
	background-color: #FAEBD7;
	width: 550px;
	padding-top: 1px;
	padding-bottom: 20px;
	float: left;
}
header li {
	list-style: none;
}
nav{
	margin-top: -10px;
}
nav li{
	margin-right:-5px;
	text-align: right;
	padding-right: 10px;
	padding-top: 10px;
	text-decoration: none;
}
nav li>a:link, nav li>a:visited{
	color: #FAEBD7;
	text-decoration: none;
}
nav li>a:hover{
	color: white;
	text-decoration: underline;
}
nav li>a:active{
	color: #DEB887;
}
a:link, a:visited{
	color: #6495ED;
    text-decoration: none;
}
a:active{
	color: #DEB887;
}
a:hover{
    text-decoration: underline;
}
article h2>a:link, article h2>a:visited{
	color: black;
	text-decoration: none;
}
article h2>a:active{
	color: #DEB887;
}  
article h2>a:hover{
	color: #6495ED;
	text-decoration: underline;
}   
h1>a:link{
	color: #FAEBD7;
	font-size:1em;
	text-decoration: none;
}
/* Mobile/Handheld Devices */
@media only screen and (max-width:480px){
    img {
        margin: 0 auto;
        width:100%;
    }
    body {
        width:40%;
    }
    main{
        margin: 0 auto;
        background-color: #FAEBD7;
        width: 37%;
        padding-bottom: 20px;
    }
    header{
        display: inline-block;
        margin: 0 auto;
        width: 32%;
        margin-right: 500px;
        padding-bottom: 0px;
        padding-top: 20px;
    }
	article{
		width: 75%;
		padding-top: 30px;
		padding-bottom: 30px;
	}
}

  
  
  
  
  

  
